extends ../layout/main  

mixin input(args)
    .input-container
        input.input_default(
            type=args.type ? args.type : 'text'
            name=args.name ? args.name : null
            value=args.value ? args.value : null
            placeholder=args.placeholder ? args.placeholder : null
            class=attributes.class
            id=attributes.id ? attributes.id : null
        )
        label.input__label= args.labelText ? args.labelText : ''

block content
    .page-content
        form.uikit-form(action="")
            +input({
                name: "someName",
                placeholder: "someplaceholer",
                labelText: "labelText"
            })
            

                
            .select-container
                select#ewq.select-default(name="qwe" placeholder="qwe")
                    option(value="some1") some3
                    option(value="some2") some2
                    option(value="some3") some1
                    option(value="some4") some4